<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control #{@user.errors[:name].any? ? 'is-invalid' : ''}" %>
      <% if @user.errors[:name].any? %>
        <div class="invalid-feedback">
          <%= @user.errors[:name].first %>
        </div>
      <% end %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control #{@user.errors[:email].any? ? 'is-invalid' : ''}" %>
      <% if @user.errors[:email].any? %>
        <div class="invalid-feedback">
          <%= @user.errors[:email].first %>
        </div>
      <% end %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control #{@user.errors[:password].any? ? 'is-invalid' : ''}" %>
      <% if @user.errors[:password].any? %>
        <div class="invalid-feedback">
          <%= @user.errors[:password].first %>
        </div>
      <% end %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control #{@user.errors[:password_confirmation].any? ? 'is-invalid' : ''}" %>
      <% if @user.errors[:password_confirmation].any? %>
        <div class="invalid-feedback">
          <%= @user.errors[:password_confirmation].first %>
        </div>
      <% end %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
